*.gem
*.rbc
.bundle
.config
.yardoc
.rbx
Gemfile.lock
InstalledFiles
.DS_Store
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
certificates/*.*
log/*.*
*.swp
*.swo
*~
